<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-category-heading" jhiTranslate="ebusinessApp.category.home.createOrEditLabel">Create or edit a Category</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.slug" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug"
                           formControlName="slug"/>
                    <div *ngIf="editForm.get('slug')!.invalid && (editForm.get('slug')!.dirty || editForm.get('slug')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('slug')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.userid" for="field_userid">Userid</label>
                    <input type="number" class="form-control" name="userid" id="field_userid"
                           formControlName="userid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.categoryid" for="field_categoryid">Categoryid</label>
                    <input type="number" class="form-control" name="categoryid" id="field_categoryid"
                           formControlName="categoryid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.route" for="field_route">Route</label>
                    <input type="text" class="form-control" name="route" id="field_route"
                           formControlName="route"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.isheader" for="field_isheader">Isheader</label>
                    <input type="checkbox" class="form-control" name="isheader" id="field_isheader"
                           formControlName="isheader"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.isgroup" for="field_isgroup">Isgroup</label>
                    <input type="checkbox" class="form-control" name="isgroup" id="field_isgroup"
                           formControlName="isgroup"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.islock" for="field_islock">Islock</label>
                    <input type="checkbox" class="form-control" name="islock" id="field_islock"
                           formControlName="islock"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.lockdelay" for="field_lockdelay">Lockdelay</label>
                    <div class="d-flex">
                        <input id="field_lockdelay" type="datetime-local" class="form-control" name="lockdelay" formControlName="lockdelay" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="SHOP">{{ 'ebusinessApp.Type.SHOP' | translate }}</option>
                        <option value="FOOD">{{ 'ebusinessApp.Type.FOOD' | translate }}</option>
                        <option value="HOUSE">{{ 'ebusinessApp.Type.HOUSE' | translate }}</option>
                        <option value="SIMPLE">{{ 'ebusinessApp.Type.SIMPLE' | translate }}</option>
                        <option value="EVENEMENT">{{ 'ebusinessApp.Type.EVENEMENT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.createdat" for="field_createdat">Createdat</label>
                    <div class="d-flex">
                        <input id="field_createdat" type="datetime-local" class="form-control" name="createdat" formControlName="createdat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.updatedat" for="field_updatedat">Updatedat</label>
                    <div class="d-flex">
                        <input id="field_updatedat" type="datetime-local" class="form-control" name="updatedat" formControlName="updatedat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.files" for="field_files">Files</label>
                    <select class="form-control" id="field_files" name="files" formControlName="filesId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="filesOption.id" *ngFor="let filesOption of files; trackBy: trackById">{{ filesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.categorydetails" for="field_categorydetails">Categorydetails</label>
                    <select class="form-control" id="field_categorydetails" name="categorydetails" formControlName="categorydetailsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorydetailsOption.id" *ngFor="let categorydetailsOption of categorydetails; trackBy: trackById">{{ categorydetailsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="locationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinessApp.category.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" formControlName="categoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackById">{{ categoryOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
