<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span>Location</span> {{ location.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{ location.country }}</span>
                </dd>
                <dt><span>Town</span></dt>
                <dd>
                    <span>{{ location.town }}</span>
                </dd>
                <dt><span>Region</span></dt>
                <dd>
                    <span>{{ location.region }}</span>
                </dd>
                <dt><span>Locality</span></dt>
                <dd>
                    <span>{{ location.locality }}</span>
                </dd>
                <dt><span>Zone</span></dt>
                <dd>
                    <span>{{ location.zone }}</span>
                </dd>
                <dt><span>Lattitude</span></dt>
                <dd>
                    <span>{{ location.lattitude }}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{ location.longitude }}</span>
                </dd>
                <dt><span>Createdat</span></dt>
                <dd>
                    <span>{{ location.createdat }}</span>
                </dd>
                <dt><span>Updatedat</span></dt>
                <dd>
                    <span>{{ location.updatedat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
