<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cherche-heading" jhiTranslate="ebusinesApp.cherche.home.createOrEditLabel">Create or edit a Cherche</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.cherche.slug" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug"
                           formControlName="slug"/>
                    <div *ngIf="editForm.get('slug')!.invalid && (editForm.get('slug')!.dirty || editForm.get('slug')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('slug')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.cherche.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.cherche.abrev" for="field_abrev">Abrev</label>
                    <input type="text" class="form-control" name="abrev" id="field_abrev"
                           formControlName="abrev"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.cherche.userid" for="field_userid">Userid</label>
                    <input type="text" class="form-control" name="userid" id="field_userid"
                           formControlName="userid"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.cherche.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.cherche.createdat" for="field_createdat">Createdat</label>
                    <div class="d-flex">
                        <input id="field_createdat" type="datetime-local" class="form-control" name="createdat" formControlName="createdat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.cherche.updatedat" for="field_updatedat">Updatedat</label>
                    <div class="d-flex">
                        <input id="field_updatedat" type="datetime-local" class="form-control" name="updatedat" formControlName="updatedat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
