<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebusinessApp.cherche.home.title">Cherches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cherche" [routerLink]="['/cherche/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ebusinessApp.cherche.home.createLabel">
            Create a new Cherche
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cherches?.length === 0">
        <span jhiTranslate="ebusinessApp.cherche.home.notFound">No cherches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cherches?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slug"><span jhiTranslate="ebusinessApp.cherche.slug">Slug</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="ebusinessApp.cherche.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="abrev"><span jhiTranslate="ebusinessApp.cherche.abrev">Abrev</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userid"><span jhiTranslate="ebusinessApp.cherche.userid">Userid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="details"><span jhiTranslate="ebusinessApp.cherche.details">Details</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdat"><span jhiTranslate="ebusinessApp.cherche.createdat">Createdat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedat"><span jhiTranslate="ebusinessApp.cherche.updatedat">Updatedat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let cherche of cherches ;trackBy: trackId">
                    <td><a [routerLink]="['/cherche', cherche.id, 'view']">{{ cherche.id }}</a></td>
                    <td>{{ cherche.slug }}</td>
                    <td>{{ cherche.name }}</td>
                    <td>{{ cherche.abrev }}</td>
                    <td>{{ cherche.userid }}</td>
                    <td>{{ cherche.details }}</td>
                    <td>{{ cherche.createdat | date:'medium' }}</td>
                    <td>{{ cherche.updatedat | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cherche', cherche.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cherche', cherche.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cherche)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
