<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bookingview">
            <h2><span>Bookingview</span> {{ bookingview.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ bookingview.title }}</span>
                </dd>
                <dt><span>Subtitle</span></dt>
                <dd>
                    <span>{{ bookingview.subtitle }}</span>
                </dd>
                <dt><span>Logo</span></dt>
                <dd>
                    <span>{{ bookingview.logo }}</span>
                </dd>
                <dt><span>Logodata</span></dt>
                <dd>
                    <div *ngIf="bookingview.logodata">
                        <a (click)="openFile(bookingview.logodataContentType!, bookingview.logodata)">open</a>
                        {{ bookingview.logodataContentType }}, {{ byteSize(bookingview.logodata) }}
                    </div>
                </dd>
                <dt><span>Bg</span></dt>
                <dd>
                    <span>{{ bookingview.bg }}</span>
                </dd>
                <dt><span>Bgdata</span></dt>
                <dd>
                    <div *ngIf="bookingview.bgdata">
                        <a (click)="openFile(bookingview.bgdataContentType!, bookingview.bgdata)">open</a>
                        {{ bookingview.bgdataContentType }}, {{ byteSize(bookingview.bgdata) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bookingview', bookingview.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
