<div>
    <h2 id="page-heading">
        <span>Currencies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-currency" [routerLink]="['/currency/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Currency
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="currencies?.length === 0">
        <span>No currencies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="currencies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slug"><span>Slug</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="abrev"><span>Abrev</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logo"><span>Logo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logodata"><span>Logodata</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdat"><span>Createdat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedat"><span>Updatedat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryId"><span>Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let currency of currencies ;trackBy: trackId">
                    <td><a [routerLink]="['/currency', currency.id, 'view']">{{ currency.id }}</a></td>
                    <td>{{ currency.slug }}</td>
                    <td>{{ currency.name }}</td>
                    <td>{{ currency.abrev }}</td>
                    <td>{{ currency.logo }}</td>
                    <td>
                        <a *ngIf="currency.logodata" (click)="openFile(currency.logodataContentType, currency.logodata)">open</a>
                        <span *ngIf="currency.logodata">{{ currency.logodataContentType }}, {{ byteSize(currency.logodata) }}</span>
                    </td>
                    <td>{{ currency.createdat | date:'medium' }}</td>
                    <td>{{ currency.updatedat | date:'medium' }}</td>
                    <td>
                        <div *ngIf="currency.categoryId">
                            <a [routerLink]="['/category', currency.categoryId , 'view']" >{{ currency.categoryId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/currency', currency.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/currency', currency.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(currency)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
