<div>
    <h2 id="page-heading">
        <span>Categorydetails</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categorydetails" [routerLink]="['/categorydetails/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Categorydetails
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="categorydetails?.length === 0">
        <span>No categorydetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categorydetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="about"><span>About</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span>Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tag"><span>Tag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tagcolor"><span>Tagcolor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="defaultlanguage"><span>Defaultlanguage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalcode"><span>Postalcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phones"><span>Phones</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="website"><span>Website</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facebook"><span>Facebook</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="twitter"><span>Twitter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gplus"><span>Gplus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="linkedin"><span>Linkedin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instagram"><span>Instagram</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="opentimes"><span>Opentimes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="othercontacts"><span>Othercontacts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="otherfields"><span>Otherfields</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generalabout"><span>Generalabout</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generaltax"><span>Generaltax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generalstock"><span>Generalstock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generalprice"><span>Generalprice</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generalmaxstock"><span>Generalmaxstock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generaltag"><span>Generaltag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generaltagcolor"><span>Generaltagcolor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generalhidden"><span>Generalhidden</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generalhiddendelay"><span>Generalhiddendelay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generallock"><span>Generallock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generallockdelay"><span>Generallockdelay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generalexpire"><span>Generalexpire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="generalexpiredelay"><span>Generalexpiredelay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="childsname"><span>Childsname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productsname"><span>Productsname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let categorydetails of categorydetails ;trackBy: trackId">
                    <td><a [routerLink]="['/categorydetails', categorydetails.id, 'view']">{{ categorydetails.id }}</a></td>
                    <td>{{ categorydetails.about }}</td>
                    <td>{{ categorydetails.title }}</td>
                    <td>{{ categorydetails.tag }}</td>
                    <td>{{ categorydetails.tagcolor }}</td>
                    <td>{{ categorydetails.defaultlanguage }}</td>
                    <td>{{ categorydetails.postalcode }}</td>
                    <td>{{ categorydetails.phones }}</td>
                    <td>{{ categorydetails.website }}</td>
                    <td>{{ categorydetails.email }}</td>
                    <td>{{ categorydetails.facebook }}</td>
                    <td>{{ categorydetails.twitter }}</td>
                    <td>{{ categorydetails.gplus }}</td>
                    <td>{{ categorydetails.linkedin }}</td>
                    <td>{{ categorydetails.instagram }}</td>
                    <td>{{ categorydetails.opentimes }}</td>
                    <td>{{ categorydetails.othercontacts }}</td>
                    <td>{{ categorydetails.otherfields }}</td>
                    <td>{{ categorydetails.generalabout }}</td>
                    <td>{{ categorydetails.generaltax }}</td>
                    <td>{{ categorydetails.generalstock }}</td>
                    <td>{{ categorydetails.generalprice }}</td>
                    <td>{{ categorydetails.generalmaxstock }}</td>
                    <td>{{ categorydetails.generaltag }}</td>
                    <td>{{ categorydetails.generaltagcolor }}</td>
                    <td>{{ categorydetails.generalhidden }}</td>
                    <td>{{ categorydetails.generalhiddendelay | date:'medium' }}</td>
                    <td>{{ categorydetails.generallock }}</td>
                    <td>{{ categorydetails.generallockdelay | date:'medium' }}</td>
                    <td>{{ categorydetails.generalexpire }}</td>
                    <td>{{ categorydetails.generalexpiredelay | date:'medium' }}</td>
                    <td>{{ categorydetails.childsname }}</td>
                    <td>{{ categorydetails.productsname }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categorydetails', categorydetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categorydetails', categorydetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(categorydetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
