<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-paymentcategory-heading">Create or edit a Paymentcategory</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentmethodid">Paymentmethodid</label>
                    <input type="number" class="form-control" name="paymentmethodid" id="field_paymentmethodid"
                           formControlName="paymentmethodid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_categoryid">Categoryid</label>
                    <input type="number" class="form-control" name="categoryid" id="field_categoryid"
                           formControlName="categoryid"/>
                    <div *ngIf="editForm.get('categoryid')!.invalid && (editForm.get('categoryid')!.dirty || editForm.get('categoryid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('categoryid')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('categoryid')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_apiurl">Apiurl</label>
                    <input type="text" class="form-control" name="apiurl" id="field_apiurl"
                           formControlName="apiurl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_apikey">Apikey</label>
                    <input type="text" class="form-control" name="apikey" id="field_apikey"
                           formControlName="apikey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_key2">Key 2</label>
                    <input type="text" class="form-control" name="key2" id="field_key2"
                           formControlName="key2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_key3">Key 3</label>
                    <input type="text" class="form-control" name="key3" id="field_key3"
                           formControlName="key3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_key4">Key 4</label>
                    <input type="text" class="form-control" name="key4" id="field_key4"
                           formControlName="key4"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_phonenumber">Phonenumber</label>
                    <input type="text" class="form-control" name="phonenumber" id="field_phonenumber"
                           formControlName="phonenumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_chanel">Chanel</label>
                    <input type="text" class="form-control" name="chanel" id="field_chanel"
                           formControlName="chanel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                           formControlName="username"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdat">Createdat</label>
                    <div class="d-flex">
                        <input id="field_createdat" type="datetime-local" class="form-control" name="createdat" formControlName="createdat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_updatedat">Updatedat</label>
                    <div class="d-flex">
                        <input id="field_updatedat" type="datetime-local" class="form-control" name="updatedat" formControlName="updatedat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" formControlName="categoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackById">{{ categoryOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentmethod">Paymentmethod</label>
                    <select class="form-control" id="field_paymentmethod" name="paymentmethod" formControlName="paymentmethodId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentmethodOption.id" *ngFor="let paymentmethodOption of paymentmethods; trackBy: trackById">{{ paymentmethodOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
