<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="likes">
            <h2><span jhiTranslate="ebusinesApp.likes.detail.title">Likes</span> {{likes.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebusinesApp.likes.slug">Slug</span></dt>
                <dd>
                    <span>{{likes.slug}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.userid">Userid</span></dt>
                <dd>
                    <span>{{likes.userid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.categoryid">Categoryid</span></dt>
                <dd>
                    <span>{{likes.categoryid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.productid">Productid</span></dt>
                <dd>
                    <span>{{likes.productid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.tourid">Tourid</span></dt>
                <dd>
                    <span>{{likes.tourid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.tourgroupid">Tourgroupid</span></dt>
                <dd>
                    <span>{{likes.tourgroupid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.evenementid">Evenementid</span></dt>
                <dd>
                    <span>{{likes.evenementid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.createdat">Createdat</span></dt>
                <dd>
                    <span>{{likes.createdat}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.updatedat">Updatedat</span></dt>
                <dd>
                    <span>{{likes.updatedat}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.category">Category</span></dt>
                <dd>
                    <div *ngIf="likes.categoryId">
                        <a [routerLink]="['/category', likes.categoryId, 'view']">{{likes.categoryId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.product">Product</span></dt>
                <dd>
                    <div *ngIf="likes.productId">
                        <a [routerLink]="['/product', likes.productId, 'view']">{{likes.productId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.likes.evenement">Evenement</span></dt>
                <dd>
                    <div *ngIf="likes.evenementId">
                        <a [routerLink]="['/evenement', likes.evenementId, 'view']">{{likes.evenementId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/likes', likes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
