<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="likes">
            <h2><span>Likes</span> {{ likes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Slug</span></dt>
                <dd>
                    <span>{{ likes.slug }}</span>
                </dd>
                <dt><span>Userid</span></dt>
                <dd>
                    <span>{{ likes.userid }}</span>
                </dd>
                <dt><span>Categoryid</span></dt>
                <dd>
                    <span>{{ likes.categoryid }}</span>
                </dd>
                <dt><span>Productid</span></dt>
                <dd>
                    <span>{{ likes.productid }}</span>
                </dd>
                <dt><span>Tourid</span></dt>
                <dd>
                    <span>{{ likes.tourid }}</span>
                </dd>
                <dt><span>Tourgroupid</span></dt>
                <dd>
                    <span>{{ likes.tourgroupid }}</span>
                </dd>
                <dt><span>Evenementid</span></dt>
                <dd>
                    <span>{{ likes.evenementid }}</span>
                </dd>
                <dt><span>Createdat</span></dt>
                <dd>
                    <span>{{ likes.createdat }}</span>
                </dd>
                <dt><span>Updatedat</span></dt>
                <dd>
                    <span>{{ likes.updatedat }}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="likes.categoryId">
                        <a [routerLink]="['/category', likes.categoryId, 'view']">{{ likes.categoryId }}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="likes.productId">
                        <a [routerLink]="['/product', likes.productId, 'view']">{{ likes.productId }}</a>
                    </div>
                </dd>
                <dt><span>Evenement</span></dt>
                <dd>
                    <div *ngIf="likes.evenementId">
                        <a [routerLink]="['/evenement', likes.evenementId, 'view']">{{ likes.evenementId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/likes', likes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
