<div>
    <h2 id="page-heading">
        <span>Actuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-actus" [routerLink]="['/actus/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Actus
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="actuses?.length === 0">
        <span>No actuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="actuses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slug"><span>Slug</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="abrev"><span>Abrev</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userid"><span>Userid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span>Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="details"><span>Details</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdat"><span>Createdat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedat"><span>Updatedat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let actus of actuses ;trackBy: trackId">
                    <td><a [routerLink]="['/actus', actus.id, 'view']">{{ actus.id }}</a></td>
                    <td>{{ actus.slug }}</td>
                    <td>{{ actus.name }}</td>
                    <td>{{ actus.abrev }}</td>
                    <td>{{ actus.userid }}</td>
                    <td>
                        <a *ngIf="actus.image" (click)="openFile(actus.imageContentType, actus.image)">open</a>
                        <span *ngIf="actus.image">{{ actus.imageContentType }}, {{ byteSize(actus.image) }}</span>
                    </td>
                    <td>{{ actus.details }}</td>
                    <td>{{ actus.createdat | date:'medium' }}</td>
                    <td>{{ actus.updatedat | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/actus', actus.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/actus', actus.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(actus)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
