<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="actus">
            <h2><span>Actus</span> {{ actus.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Slug</span></dt>
                <dd>
                    <span>{{ actus.slug }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ actus.name }}</span>
                </dd>
                <dt><span>Abrev</span></dt>
                <dd>
                    <span>{{ actus.abrev }}</span>
                </dd>
                <dt><span>Userid</span></dt>
                <dd>
                    <span>{{ actus.userid }}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="actus.image">
                        <a (click)="openFile(actus.imageContentType!, actus.image)">open</a>
                        {{ actus.imageContentType }}, {{ byteSize(actus.image) }}
                    </div>
                </dd>
                <dt><span>Details</span></dt>
                <dd>
                    <span>{{ actus.details }}</span>
                </dd>
                <dt><span>Createdat</span></dt>
                <dd>
                    <span>{{ actus.createdat }}</span>
                </dd>
                <dt><span>Updatedat</span></dt>
                <dd>
                    <span>{{ actus.updatedat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/actus', actus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
