<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebusinessApp.evenement.home.title">Evenements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-evenement" [routerLink]="['/evenement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ebusinessApp.evenement.home.createLabel">
            Create a new Evenement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="evenements?.length === 0">
        <span jhiTranslate="ebusinessApp.evenement.home.notFound">No evenements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="evenements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryid"><span jhiTranslate="ebusinessApp.evenement.categoryid">Categoryid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userid"><span jhiTranslate="ebusinessApp.evenement.userid">Userid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productid"><span jhiTranslate="ebusinessApp.evenement.productid">Productid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slug"><span jhiTranslate="ebusinessApp.evenement.slug">Slug</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="ebusinessApp.evenement.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="islock"><span jhiTranslate="ebusinessApp.evenement.islock">Islock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockdelay"><span jhiTranslate="ebusinessApp.evenement.lockdelay">Lockdelay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="islimited"><span jhiTranslate="ebusinessApp.evenement.islimited">Islimited</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="limiteddelay"><span jhiTranslate="ebusinessApp.evenement.limiteddelay">Limiteddelay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="limitedbooking"><span jhiTranslate="ebusinessApp.evenement.limitedbooking">Limitedbooking</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startdate"><span jhiTranslate="ebusinessApp.evenement.startdate">Startdate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enddate"><span jhiTranslate="ebusinessApp.evenement.enddate">Enddate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="about"><span jhiTranslate="ebusinessApp.evenement.about">About</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="ebusinessApp.evenement.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tag"><span jhiTranslate="ebusinessApp.evenement.tag">Tag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tagcolor"><span jhiTranslate="ebusinessApp.evenement.tagcolor">Tagcolor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalcode"><span jhiTranslate="ebusinessApp.evenement.postalcode">Postalcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phones"><span jhiTranslate="ebusinessApp.evenement.phones">Phones</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="website"><span jhiTranslate="ebusinessApp.evenement.website">Website</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facebook"><span jhiTranslate="ebusinessApp.evenement.facebook">Facebook</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="twitter"><span jhiTranslate="ebusinessApp.evenement.twitter">Twitter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gplus"><span jhiTranslate="ebusinessApp.evenement.gplus">Gplus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="linkedin"><span jhiTranslate="ebusinessApp.evenement.linkedin">Linkedin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instagram"><span jhiTranslate="ebusinessApp.evenement.instagram">Instagram</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="ebusinessApp.evenement.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="url"><span jhiTranslate="ebusinessApp.evenement.url">Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="othercontacts"><span jhiTranslate="ebusinessApp.evenement.othercontacts">Othercontacts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="otherfields"><span jhiTranslate="ebusinessApp.evenement.otherfields">Otherfields</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdat"><span jhiTranslate="ebusinessApp.evenement.createdat">Createdat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedat"><span jhiTranslate="ebusinessApp.evenement.updatedat">Updatedat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filesId"><span jhiTranslate="ebusinessApp.evenement.files">Files</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currencyId"><span jhiTranslate="ebusinessApp.evenement.currency">Currency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationId"><span jhiTranslate="ebusinessApp.evenement.location">Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryId"><span jhiTranslate="ebusinessApp.evenement.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span jhiTranslate="ebusinessApp.evenement.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let evenement of evenements ;trackBy: trackId">
                    <td><a [routerLink]="['/evenement', evenement.id, 'view']">{{ evenement.id }}</a></td>
                    <td>{{ evenement.categoryid }}</td>
                    <td>{{ evenement.userid }}</td>
                    <td>{{ evenement.productid }}</td>
                    <td>{{ evenement.slug }}</td>
                    <td>{{ evenement.name }}</td>
                    <td>{{ evenement.islock }}</td>
                    <td>{{ evenement.lockdelay | date:'medium' }}</td>
                    <td>{{ evenement.islimited }}</td>
                    <td>{{ evenement.limiteddelay | date:'medium' }}</td>
                    <td>{{ evenement.limitedbooking }}</td>
                    <td>{{ evenement.startdate | date:'medium' }}</td>
                    <td>{{ evenement.enddate | date:'medium' }}</td>
                    <td>{{ evenement.about }}</td>
                    <td>{{ evenement.title }}</td>
                    <td>{{ evenement.tag }}</td>
                    <td jhiTranslate="{{ 'ebusinessApp.Tagcolor.' + evenement.tagcolor }}">{{ evenement.tagcolor }}</td>
                    <td>{{ evenement.postalcode }}</td>
                    <td>{{ evenement.phones }}</td>
                    <td>{{ evenement.website }}</td>
                    <td>{{ evenement.facebook }}</td>
                    <td>{{ evenement.twitter }}</td>
                    <td>{{ evenement.gplus }}</td>
                    <td>{{ evenement.linkedin }}</td>
                    <td>{{ evenement.instagram }}</td>
                    <td>{{ evenement.email }}</td>
                    <td>{{ evenement.url }}</td>
                    <td>{{ evenement.othercontacts }}</td>
                    <td>{{ evenement.otherfields }}</td>
                    <td>{{ evenement.createdat | date:'medium' }}</td>
                    <td>{{ evenement.updatedat | date:'medium' }}</td>
                    <td>
                        <div *ngIf="evenement.filesId">
                            <a [routerLink]="['/files', evenement.filesId , 'view']" >{{ evenement.filesId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="evenement.currencyId">
                            <a [routerLink]="['/currency', evenement.currencyId , 'view']" >{{ evenement.currencyId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="evenement.locationId">
                            <a [routerLink]="['/location', evenement.locationId , 'view']" >{{ evenement.locationId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="evenement.categoryId">
                            <a [routerLink]="['/category', evenement.categoryId , 'view']" >{{ evenement.categoryId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="evenement.productId">
                            <a [routerLink]="['/product', evenement.productId , 'view']" >{{ evenement.productId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/evenement', evenement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/evenement', evenement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(evenement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
