<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebusinesApp.ratings.home.title">Ratings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ratings" [routerLink]="['/ratings/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebusinesApp.ratings.home.createLabel">
            Create a new Ratings
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ratings?.length === 0">
        <span jhiTranslate="ebusinesApp.ratings.home.notFound">No ratings found</span>
    </div>
    <div class="table-responsive" *ngIf="ratings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="slug"><span jhiTranslate="ebusinesApp.ratings.slug">Slug</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userid"><span jhiTranslate="ebusinesApp.ratings.userid">Userid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="categoryid"><span jhiTranslate="ebusinesApp.ratings.categoryid">Categoryid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productid"><span jhiTranslate="ebusinesApp.ratings.productid">Productid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tourid"><span jhiTranslate="ebusinesApp.ratings.tourid">Tourid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tourgroupid"><span jhiTranslate="ebusinesApp.ratings.tourgroupid">Tourgroupid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="evenementid"><span jhiTranslate="ebusinesApp.ratings.evenementid">Evenementid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="value"><span jhiTranslate="ebusinesApp.ratings.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdat"><span jhiTranslate="ebusinesApp.ratings.createdat">Createdat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedat"><span jhiTranslate="ebusinesApp.ratings.updatedat">Updatedat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="categoryId"><span jhiTranslate="ebusinesApp.ratings.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productId"><span jhiTranslate="ebusinesApp.ratings.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="evenementId"><span jhiTranslate="ebusinesApp.ratings.evenement">Evenement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let ratings of ratings ;trackBy: trackId">
                <td><a [routerLink]="['/ratings', ratings.id, 'view' ]">{{ratings.id}}</a></td>
                <td>{{ratings.slug}}</td>
                <td>{{ratings.userid}}</td>
                <td>{{ratings.categoryid}}</td>
                <td>{{ratings.productid}}</td>
                <td>{{ratings.tourid}}</td>
                <td>{{ratings.tourgroupid}}</td>
                <td>{{ratings.evenementid}}</td>
                <td>{{ratings.value}}</td>
                <td>{{ratings.createdat | date:'medium'}}</td>
                <td>{{ratings.updatedat | date:'medium'}}</td>
                <td>
                    <div *ngIf="ratings.categoryId">
                        <a [routerLink]="['/category', ratings.categoryId , 'view' ]" >{{ratings.categoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ratings.productId">
                        <a [routerLink]="['/product', ratings.productId , 'view' ]" >{{ratings.productId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ratings.evenementId">
                        <a [routerLink]="['/evenement', ratings.evenementId , 'view' ]" >{{ratings.evenementId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ratings', ratings.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ratings', ratings.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(ratings)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
