<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ratings">
            <h2><span>Ratings</span> {{ ratings.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Slug</span></dt>
                <dd>
                    <span>{{ ratings.slug }}</span>
                </dd>
                <dt><span>Userid</span></dt>
                <dd>
                    <span>{{ ratings.userid }}</span>
                </dd>
                <dt><span>Categoryid</span></dt>
                <dd>
                    <span>{{ ratings.categoryid }}</span>
                </dd>
                <dt><span>Productid</span></dt>
                <dd>
                    <span>{{ ratings.productid }}</span>
                </dd>
                <dt><span>Tourid</span></dt>
                <dd>
                    <span>{{ ratings.tourid }}</span>
                </dd>
                <dt><span>Tourgroupid</span></dt>
                <dd>
                    <span>{{ ratings.tourgroupid }}</span>
                </dd>
                <dt><span>Evenementid</span></dt>
                <dd>
                    <span>{{ ratings.evenementid }}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{ ratings.value }}</span>
                </dd>
                <dt><span>Createdat</span></dt>
                <dd>
                    <span>{{ ratings.createdat }}</span>
                </dd>
                <dt><span>Updatedat</span></dt>
                <dd>
                    <span>{{ ratings.updatedat }}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="ratings.categoryId">
                        <a [routerLink]="['/category', ratings.categoryId, 'view']">{{ ratings.categoryId }}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="ratings.productId">
                        <a [routerLink]="['/product', ratings.productId, 'view']">{{ ratings.productId }}</a>
                    </div>
                </dd>
                <dt><span>Evenement</span></dt>
                <dd>
                    <div *ngIf="ratings.evenementId">
                        <a [routerLink]="['/evenement', ratings.evenementId, 'view']">{{ ratings.evenementId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ratings', ratings.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
