<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bookingproducts-heading" jhiTranslate="ebusinesApp.bookingproducts.home.createOrEditLabel">Create or edit a Bookingproducts</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.bookingproducts.bookingid" for="field_bookingid">Bookingid</label>
                    <input type="number" class="form-control" name="bookingid" id="field_bookingid"
                           formControlName="bookingid"/>
                    <div *ngIf="editForm.get('bookingid')!.invalid && (editForm.get('bookingid')!.dirty || editForm.get('bookingid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bookingid')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('bookingid')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.bookingproducts.productid" for="field_productid">Productid</label>
                    <input type="number" class="form-control" name="productid" id="field_productid"
                           formControlName="productid"/>
                    <div *ngIf="editForm.get('productid')!.invalid && (editForm.get('productid')!.dirty || editForm.get('productid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('productid')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('productid')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.bookingproducts.bookingqty" for="field_bookingqty">Bookingqty</label>
                    <input type="number" class="form-control" name="bookingqty" id="field_bookingqty"
                           formControlName="bookingqty"/>
                    <div *ngIf="editForm.get('bookingqty')!.invalid && (editForm.get('bookingqty')!.dirty || editForm.get('bookingqty')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bookingqty')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('bookingqty')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebusinesApp.bookingproducts.booking" for="field_booking">Booking</label>
                    <select class="form-control" id="field_booking" name="booking" formControlName="bookingId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookingOption.id" *ngFor="let bookingOption of bookings; trackBy: trackById">{{bookingOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
