<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bookingproducts">
            <h2><span>Bookingproducts</span> {{ bookingproducts.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Bookingid</span></dt>
                <dd>
                    <span>{{ bookingproducts.bookingid }}</span>
                </dd>
                <dt><span>Productid</span></dt>
                <dd>
                    <span>{{ bookingproducts.productid }}</span>
                </dd>
                <dt><span>Bookingqty</span></dt>
                <dd>
                    <span>{{ bookingproducts.bookingqty }}</span>
                </dd>
                <dt><span>Booking</span></dt>
                <dd>
                    <div *ngIf="bookingproducts.bookingId">
                        <a [routerLink]="['/booking', bookingproducts.bookingId, 'view']">{{ bookingproducts.bookingId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bookingproducts', bookingproducts.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
