<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebusinesApp.tourcategory.home.title">Tourcategories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tourcategory" [routerLink]="['/tourcategory/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebusinesApp.tourcategory.home.createLabel">
            Create a new Tourcategory
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tourcategories?.length === 0">
        <span jhiTranslate="ebusinesApp.tourcategory.home.notFound">No tourcategories found</span>
    </div>
    <div class="table-responsive" *ngIf="tourcategories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="categoryid"><span jhiTranslate="ebusinesApp.tourcategory.categoryid">Categoryid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productid"><span jhiTranslate="ebusinesApp.tourcategory.productid">Productid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="evenementid"><span jhiTranslate="ebusinesApp.tourcategory.evenementid">Evenementid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="slug"><span jhiTranslate="ebusinesApp.tourcategory.slug">Slug</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="ebusinesApp.tourcategory.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="islock"><span jhiTranslate="ebusinesApp.tourcategory.islock">Islock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lockdelay"><span jhiTranslate="ebusinesApp.tourcategory.lockdelay">Lockdelay</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="about"><span jhiTranslate="ebusinesApp.tourcategory.about">About</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="title"><span jhiTranslate="ebusinesApp.tourcategory.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tag"><span jhiTranslate="ebusinesApp.tourcategory.tag">Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tagcolor"><span jhiTranslate="ebusinesApp.tourcategory.tagcolor">Tagcolor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="postalcode"><span jhiTranslate="ebusinesApp.tourcategory.postalcode">Postalcode</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phones"><span jhiTranslate="ebusinesApp.tourcategory.phones">Phones</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="website"><span jhiTranslate="ebusinesApp.tourcategory.website">Website</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="facebook"><span jhiTranslate="ebusinesApp.tourcategory.facebook">Facebook</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="twitter"><span jhiTranslate="ebusinesApp.tourcategory.twitter">Twitter</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="gplus"><span jhiTranslate="ebusinesApp.tourcategory.gplus">Gplus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="linkedin"><span jhiTranslate="ebusinesApp.tourcategory.linkedin">Linkedin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="instagram"><span jhiTranslate="ebusinesApp.tourcategory.instagram">Instagram</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="ebusinesApp.tourcategory.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="othercontacts"><span jhiTranslate="ebusinesApp.tourcategory.othercontacts">Othercontacts</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="otherfields"><span jhiTranslate="ebusinesApp.tourcategory.otherfields">Otherfields</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdat"><span jhiTranslate="ebusinesApp.tourcategory.createdat">Createdat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedat"><span jhiTranslate="ebusinesApp.tourcategory.updatedat">Updatedat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="filesTourcategoryid"><span jhiTranslate="ebusinesApp.tourcategory.files">Files</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="categoryId"><span jhiTranslate="ebusinesApp.tourcategory.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productId"><span jhiTranslate="ebusinesApp.tourcategory.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="evenementId"><span jhiTranslate="ebusinesApp.tourcategory.evenement">Evenement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tourcategory of tourcategories ;trackBy: trackId">
                <td><a [routerLink]="['/tourcategory', tourcategory.id, 'view' ]">{{tourcategory.id}}</a></td>
                <td>{{tourcategory.categoryid}}</td>
                <td>{{tourcategory.productid}}</td>
                <td>{{tourcategory.evenementid}}</td>
                <td>{{tourcategory.slug}}</td>
                <td>{{tourcategory.name}}</td>
                <td>{{tourcategory.islock}}</td>
                <td>{{tourcategory.lockdelay | date:'medium'}}</td>
                <td>{{tourcategory.about}}</td>
                <td>{{tourcategory.title}}</td>
                <td>{{tourcategory.tag}}</td>
                <td jhiTranslate="{{'ebusinesApp.Tagcolor.' + tourcategory.tagcolor}}">{{tourcategory.tagcolor}}</td>
                <td>{{tourcategory.postalcode}}</td>
                <td>{{tourcategory.phones}}</td>
                <td>{{tourcategory.website}}</td>
                <td>{{tourcategory.facebook}}</td>
                <td>{{tourcategory.twitter}}</td>
                <td>{{tourcategory.gplus}}</td>
                <td>{{tourcategory.linkedin}}</td>
                <td>{{tourcategory.instagram}}</td>
                <td>{{tourcategory.email}}</td>
                <td>{{tourcategory.othercontacts}}</td>
                <td>{{tourcategory.otherfields}}</td>
                <td>{{tourcategory.createdat | date:'medium'}}</td>
                <td>{{tourcategory.updatedat | date:'medium'}}</td>
                <td>
                    <div *ngIf="tourcategory.filesId">
                        <a [routerLink]="['/files', tourcategory.filesId , 'view' ]" >{{tourcategory.filesTourcategoryid}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tourcategory.categoryId">
                        <a [routerLink]="['/category', tourcategory.categoryId , 'view' ]" >{{tourcategory.categoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tourcategory.productId">
                        <a [routerLink]="['/product', tourcategory.productId , 'view' ]" >{{tourcategory.productId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tourcategory.evenementId">
                        <a [routerLink]="['/evenement', tourcategory.evenementId , 'view' ]" >{{tourcategory.evenementId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tourcategory', tourcategory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tourcategory', tourcategory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(tourcategory)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
