<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tourcategory">
            <h2><span jhiTranslate="ebusinesApp.tourcategory.detail.title">Tourcategory</span> {{tourcategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebusinesApp.tourcategory.categoryid">Categoryid</span></dt>
                <dd>
                    <span>{{tourcategory.categoryid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.productid">Productid</span></dt>
                <dd>
                    <span>{{tourcategory.productid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.evenementid">Evenementid</span></dt>
                <dd>
                    <span>{{tourcategory.evenementid}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.slug">Slug</span></dt>
                <dd>
                    <span>{{tourcategory.slug}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.name">Name</span></dt>
                <dd>
                    <span>{{tourcategory.name}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.islock">Islock</span></dt>
                <dd>
                    <span>{{tourcategory.islock}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.lockdelay">Lockdelay</span></dt>
                <dd>
                    <span>{{tourcategory.lockdelay}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.about">About</span></dt>
                <dd>
                    <span>{{tourcategory.about}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.title">Title</span></dt>
                <dd>
                    <span>{{tourcategory.title}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.tag">Tag</span></dt>
                <dd>
                    <span>{{tourcategory.tag}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.tagcolor">Tagcolor</span></dt>
                <dd>
                    <span jhiTranslate="{{'ebusinesApp.Tagcolor.' + tourcategory.tagcolor}}">{{tourcategory.tagcolor}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.postalcode">Postalcode</span></dt>
                <dd>
                    <span>{{tourcategory.postalcode}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.phones">Phones</span></dt>
                <dd>
                    <span>{{tourcategory.phones}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.website">Website</span></dt>
                <dd>
                    <span>{{tourcategory.website}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.facebook">Facebook</span></dt>
                <dd>
                    <span>{{tourcategory.facebook}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.twitter">Twitter</span></dt>
                <dd>
                    <span>{{tourcategory.twitter}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.gplus">Gplus</span></dt>
                <dd>
                    <span>{{tourcategory.gplus}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.linkedin">Linkedin</span></dt>
                <dd>
                    <span>{{tourcategory.linkedin}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.instagram">Instagram</span></dt>
                <dd>
                    <span>{{tourcategory.instagram}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.email">Email</span></dt>
                <dd>
                    <span>{{tourcategory.email}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.othercontacts">Othercontacts</span></dt>
                <dd>
                    <span>{{tourcategory.othercontacts}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.otherfields">Otherfields</span></dt>
                <dd>
                    <span>{{tourcategory.otherfields}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.createdat">Createdat</span></dt>
                <dd>
                    <span>{{tourcategory.createdat}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.updatedat">Updatedat</span></dt>
                <dd>
                    <span>{{tourcategory.updatedat}}</span>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.files">Files</span></dt>
                <dd>
                    <div *ngIf="tourcategory.filesId">
                        <a [routerLink]="['/files', tourcategory.filesId, 'view']">{{tourcategory.filesTourcategoryid}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.category">Category</span></dt>
                <dd>
                    <div *ngIf="tourcategory.categoryId">
                        <a [routerLink]="['/category', tourcategory.categoryId, 'view']">{{tourcategory.categoryId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.product">Product</span></dt>
                <dd>
                    <div *ngIf="tourcategory.productId">
                        <a [routerLink]="['/product', tourcategory.productId, 'view']">{{tourcategory.productId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinesApp.tourcategory.evenement">Evenement</span></dt>
                <dd>
                    <div *ngIf="tourcategory.evenementId">
                        <a [routerLink]="['/evenement', tourcategory.evenementId, 'view']">{{tourcategory.evenementId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tourcategory', tourcategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
