<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebusinessApp.paymentaction.home.title">Paymentactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-paymentaction" [routerLink]="['/paymentaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ebusinessApp.paymentaction.home.createLabel">
            Create a new Paymentaction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentactions?.length === 0">
        <span jhiTranslate="ebusinessApp.paymentaction.home.notFound">No paymentactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paymentactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slug"><span jhiTranslate="ebusinessApp.paymentaction.slug">Slug</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userid"><span jhiTranslate="ebusinessApp.paymentaction.userid">Userid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentmethodid"><span jhiTranslate="ebusinessApp.paymentaction.paymentmethodid">Paymentmethodid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="evenementid"><span jhiTranslate="ebusinessApp.paymentaction.evenementid">Evenementid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productid"><span jhiTranslate="ebusinessApp.paymentaction.productid">Productid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryid"><span jhiTranslate="ebusinessApp.paymentaction.categoryid">Categoryid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="expireat"><span jhiTranslate="ebusinessApp.paymentaction.expireat">Expireat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="ebusinessApp.paymentaction.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code1"><span jhiTranslate="ebusinessApp.paymentaction.code1">Code 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code2"><span jhiTranslate="ebusinessApp.paymentaction.code2">Code 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="ebusinessApp.paymentaction.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdat"><span jhiTranslate="ebusinessApp.paymentaction.createdat">Createdat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedat"><span jhiTranslate="ebusinessApp.paymentaction.updatedat">Updatedat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span jhiTranslate="ebusinessApp.paymentaction.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="evenementId"><span jhiTranslate="ebusinessApp.paymentaction.evenement">Evenement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentmethodId"><span jhiTranslate="ebusinessApp.paymentaction.paymentmethod">Paymentmethod</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let paymentaction of paymentactions ;trackBy: trackId">
                    <td><a [routerLink]="['/paymentaction', paymentaction.id, 'view']">{{ paymentaction.id }}</a></td>
                    <td>{{ paymentaction.slug }}</td>
                    <td>{{ paymentaction.userid }}</td>
                    <td>{{ paymentaction.paymentmethodid }}</td>
                    <td>{{ paymentaction.evenementid }}</td>
                    <td>{{ paymentaction.productid }}</td>
                    <td>{{ paymentaction.categoryid }}</td>
                    <td>{{ paymentaction.expireat | date:'medium' }}</td>
                    <td>{{ paymentaction.code }}</td>
                    <td>{{ paymentaction.code1 }}</td>
                    <td>{{ paymentaction.code2 }}</td>
                    <td>{{ paymentaction.amount }}</td>
                    <td>{{ paymentaction.createdat | date:'medium' }}</td>
                    <td>{{ paymentaction.updatedat | date:'medium' }}</td>
                    <td>
                        <div *ngIf="paymentaction.productId">
                            <a [routerLink]="['/product', paymentaction.productId , 'view']" >{{ paymentaction.productId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="paymentaction.evenementId">
                            <a [routerLink]="['/evenement', paymentaction.evenementId , 'view']" >{{ paymentaction.evenementId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="paymentaction.paymentmethodId">
                            <a [routerLink]="['/paymentmethod', paymentaction.paymentmethodId , 'view']" >{{ paymentaction.paymentmethodId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/paymentaction', paymentaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/paymentaction', paymentaction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paymentaction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
