<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tour">
            <h2><span jhiTranslate="ebusinessApp.tour.detail.title">Tour</span> {{ tour.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebusinessApp.tour.categoryid">Categoryid</span></dt>
                <dd>
                    <span>{{ tour.categoryid }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.userid">Userid</span></dt>
                <dd>
                    <span>{{ tour.userid }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.productid">Productid</span></dt>
                <dd>
                    <span>{{ tour.productid }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.evenementid">Evenementid</span></dt>
                <dd>
                    <span>{{ tour.evenementid }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.slug">Slug</span></dt>
                <dd>
                    <span>{{ tour.slug }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.name">Name</span></dt>
                <dd>
                    <span>{{ tour.name }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.islock">Islock</span></dt>
                <dd>
                    <span>{{ tour.islock }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.lockdelay">Lockdelay</span></dt>
                <dd>
                    <span>{{ tour.lockdelay }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.about">About</span></dt>
                <dd>
                    <span>{{ tour.about }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.title">Title</span></dt>
                <dd>
                    <span>{{ tour.title }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.tag">Tag</span></dt>
                <dd>
                    <span>{{ tour.tag }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.tagcolor">Tagcolor</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'ebusinessApp.Tagcolor.' + tour.tagcolor }}">{{ tour.tagcolor }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.postalcode">Postalcode</span></dt>
                <dd>
                    <span>{{ tour.postalcode }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.phones">Phones</span></dt>
                <dd>
                    <span>{{ tour.phones }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.website">Website</span></dt>
                <dd>
                    <span>{{ tour.website }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.facebook">Facebook</span></dt>
                <dd>
                    <span>{{ tour.facebook }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.twitter">Twitter</span></dt>
                <dd>
                    <span>{{ tour.twitter }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.gplus">Gplus</span></dt>
                <dd>
                    <span>{{ tour.gplus }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.linkedin">Linkedin</span></dt>
                <dd>
                    <span>{{ tour.linkedin }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.instagram">Instagram</span></dt>
                <dd>
                    <span>{{ tour.instagram }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.email">Email</span></dt>
                <dd>
                    <span>{{ tour.email }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.url">Url</span></dt>
                <dd>
                    <span>{{ tour.url }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.position">Position</span></dt>
                <dd>
                    <span>{{ tour.position }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.othercontacts">Othercontacts</span></dt>
                <dd>
                    <span>{{ tour.othercontacts }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.otherfields">Otherfields</span></dt>
                <dd>
                    <span>{{ tour.otherfields }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.createdat">Createdat</span></dt>
                <dd>
                    <span>{{ tour.createdat }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.updatedat">Updatedat</span></dt>
                <dd>
                    <span>{{ tour.updatedat }}</span>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.files">Files</span></dt>
                <dd>
                    <div *ngIf="tour.filesId">
                        <a [routerLink]="['/files', tour.filesId, 'view']">{{ tour.filesTourid }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.currency">Currency</span></dt>
                <dd>
                    <div *ngIf="tour.currencyId">
                        <a [routerLink]="['/currency', tour.currencyId, 'view']">{{ tour.currencyId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.location">Location</span></dt>
                <dd>
                    <div *ngIf="tour.locationId">
                        <a [routerLink]="['/location', tour.locationId, 'view']">{{ tour.locationId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.category">Category</span></dt>
                <dd>
                    <div *ngIf="tour.categoryId">
                        <a [routerLink]="['/category', tour.categoryId, 'view']">{{ tour.categoryId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.product">Product</span></dt>
                <dd>
                    <div *ngIf="tour.productId">
                        <a [routerLink]="['/product', tour.productId, 'view']">{{ tour.productId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebusinessApp.tour.evenement">Evenement</span></dt>
                <dd>
                    <div *ngIf="tour.evenementId">
                        <a [routerLink]="['/evenement', tour.evenementId, 'view']">{{ tour.evenementId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tour', tour.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
