<div>
    <h2 id="page-heading">
        <span>Tours</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tour" [routerLink]="['/tour/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Tour
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tours?.length === 0">
        <span>No tours found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tours?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryid"><span>Categoryid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userid"><span>Userid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productid"><span>Productid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="evenementid"><span>Evenementid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slug"><span>Slug</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="islock"><span>Islock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockdelay"><span>Lockdelay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="about"><span>About</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span>Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tag"><span>Tag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tagcolor"><span>Tagcolor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalcode"><span>Postalcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phones"><span>Phones</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="website"><span>Website</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facebook"><span>Facebook</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="twitter"><span>Twitter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gplus"><span>Gplus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="linkedin"><span>Linkedin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instagram"><span>Instagram</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="url"><span>Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="position"><span>Position</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="othercontacts"><span>Othercontacts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="otherfields"><span>Otherfields</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdat"><span>Createdat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedat"><span>Updatedat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filesTourid"><span>Files</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currencyId"><span>Currency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationId"><span>Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryId"><span>Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span>Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="evenementId"><span>Evenement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let tour of tours ;trackBy: trackId">
                    <td><a [routerLink]="['/tour', tour.id, 'view']">{{ tour.id }}</a></td>
                    <td>{{ tour.categoryid }}</td>
                    <td>{{ tour.userid }}</td>
                    <td>{{ tour.productid }}</td>
                    <td>{{ tour.evenementid }}</td>
                    <td>{{ tour.slug }}</td>
                    <td>{{ tour.name }}</td>
                    <td>{{ tour.islock }}</td>
                    <td>{{ tour.lockdelay | date:'medium' }}</td>
                    <td>{{ tour.about }}</td>
                    <td>{{ tour.title }}</td>
                    <td>{{ tour.tag }}</td>
                    <td>{{ tour.tagcolor }}</td>
                    <td>{{ tour.postalcode }}</td>
                    <td>{{ tour.phones }}</td>
                    <td>{{ tour.website }}</td>
                    <td>{{ tour.facebook }}</td>
                    <td>{{ tour.twitter }}</td>
                    <td>{{ tour.gplus }}</td>
                    <td>{{ tour.linkedin }}</td>
                    <td>{{ tour.instagram }}</td>
                    <td>{{ tour.email }}</td>
                    <td>{{ tour.url }}</td>
                    <td>{{ tour.position }}</td>
                    <td>{{ tour.othercontacts }}</td>
                    <td>{{ tour.otherfields }}</td>
                    <td>{{ tour.createdat | date:'medium' }}</td>
                    <td>{{ tour.updatedat | date:'medium' }}</td>
                    <td>
                        <div *ngIf="tour.filesId">
                            <a [routerLink]="['/files', tour.filesId , 'view']" >{{ tour.filesTourid }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tour.currencyId">
                            <a [routerLink]="['/currency', tour.currencyId , 'view']" >{{ tour.currencyId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tour.locationId">
                            <a [routerLink]="['/location', tour.locationId , 'view']" >{{ tour.locationId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tour.categoryId">
                            <a [routerLink]="['/category', tour.categoryId , 'view']" >{{ tour.categoryId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tour.productId">
                            <a [routerLink]="['/product', tour.productId , 'view']" >{{ tour.productId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="tour.evenementId">
                            <a [routerLink]="['/evenement', tour.evenementId , 'view']" >{{ tour.evenementId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tour', tour.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tour', tour.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tour)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
