<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentmethod">
            <h2><span>Paymentmethod</span> {{ paymentmethod.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Slug</span></dt>
                <dd>
                    <span>{{ paymentmethod.slug }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ paymentmethod.name }}</span>
                </dd>
                <dt><span>Logo</span></dt>
                <dd>
                    <span>{{ paymentmethod.logo }}</span>
                </dd>
                <dt><span>Logodata</span></dt>
                <dd>
                    <div *ngIf="paymentmethod.logodata">
                        <a (click)="openFile(paymentmethod.logodataContentType!, paymentmethod.logodata)">open</a>
                        {{ paymentmethod.logodataContentType }}, {{ byteSize(paymentmethod.logodata) }}
                    </div>
                </dd>
                <dt><span>Createdat</span></dt>
                <dd>
                    <span>{{ paymentmethod.createdat }}</span>
                </dd>
                <dt><span>Updatedat</span></dt>
                <dd>
                    <span>{{ paymentmethod.updatedat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/paymentmethod', paymentmethod.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
