<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading">Create or edit a Product</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_categoryid">Categoryid</label>
                    <input type="number" class="form-control" name="categoryid" id="field_categoryid"
                           formControlName="categoryid"/>
                    <div *ngIf="editForm.get('categoryid')!.invalid && (editForm.get('categoryid')!.dirty || editForm.get('categoryid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('categoryid')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('categoryid')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug"
                           formControlName="slug"/>
                    <div *ngIf="editForm.get('slug')!.invalid && (editForm.get('slug')!.dirty || editForm.get('slug')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('slug')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_islock">Islock</label>
                    <input type="checkbox" class="form-control" name="islock" id="field_islock"
                           formControlName="islock"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lockdelay">Lockdelay</label>
                    <div class="d-flex">
                        <input id="field_lockdelay" type="datetime-local" class="form-control" name="lockdelay" formControlName="lockdelay" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="SHOP">SHOP</option>
                        <option value="FOOD">FOOD</option>
                        <option value="HOUSE">HOUSE</option>
                        <option value="SIMPLE">SIMPLE</option>
                        <option value="EVENEMENT">EVENEMENT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_createdat">Createdat</label>
                    <div class="d-flex">
                        <input id="field_createdat" type="datetime-local" class="form-control" name="createdat" formControlName="createdat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_updatedat">Updatedat</label>
                    <div class="d-flex">
                        <input id="field_updatedat" type="datetime-local" class="form-control" name="updatedat" formControlName="updatedat" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_files">Files</label>
                    <select class="form-control" id="field_files" name="files" formControlName="filesId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="filesOption.id" *ngFor="let filesOption of files; trackBy: trackById">{{ filesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_productdetails">Productdetails</label>
                    <select class="form-control" id="field_productdetails" name="productdetails" formControlName="productdetailsId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productdetailsOption.id" *ngFor="let productdetailsOption of productdetails; trackBy: trackById">{{ productdetailsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_currency">Currency</label>
                    <select class="form-control" id="field_currency" name="currency" formControlName="currencyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackById">{{ currencyOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="locationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" formControlName="categoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackById">{{ categoryOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
