<div>
    <h2 id="page-heading">
        <span>Profiles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile" [routerLink]="['/profile/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Profile
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profiles?.length === 0">
        <span>No profiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="slug"><span>Slug</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userid"><span>Userid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="islock"><span>Islock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lockdelay"><span>Lockdelay</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="about"><span>About</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullname"><span>Fullname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="defaultlanguage"><span>Defaultlanguage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalcode"><span>Postalcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phones"><span>Phones</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="website"><span>Website</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="facebook"><span>Facebook</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="twitter"><span>Twitter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gplus"><span>Gplus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="linkedin"><span>Linkedin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instagram"><span>Instagram</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="othercontacts"><span>Othercontacts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="otherfields"><span>Otherfields</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdat"><span>Createdat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedat"><span>Updatedat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationId"><span>Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let profile of profiles ;trackBy: trackId">
                    <td><a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a></td>
                    <td>{{ profile.slug }}</td>
                    <td>{{ profile.userid }}</td>
                    <td>{{ profile.name }}</td>
                    <td>{{ profile.islock }}</td>
                    <td>{{ profile.lockdelay | date:'medium' }}</td>
                    <td>{{ profile.about }}</td>
                    <td>{{ profile.fullname }}</td>
                    <td>{{ profile.defaultlanguage }}</td>
                    <td>{{ profile.postalcode }}</td>
                    <td>{{ profile.phones }}</td>
                    <td>{{ profile.website }}</td>
                    <td>{{ profile.facebook }}</td>
                    <td>{{ profile.twitter }}</td>
                    <td>{{ profile.gplus }}</td>
                    <td>{{ profile.linkedin }}</td>
                    <td>{{ profile.instagram }}</td>
                    <td>{{ profile.othercontacts }}</td>
                    <td>{{ profile.otherfields }}</td>
                    <td>{{ profile.createdat | date:'medium' }}</td>
                    <td>{{ profile.updatedat | date:'medium' }}</td>
                    <td>
                        {{ profile.userId }}
                    </td>
                    <td>
                        <div *ngIf="profile.locationId">
                            <a [routerLink]="['/location', profile.locationId , 'view']" >{{ profile.locationId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
